.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .header {
    height: 70px;
    background-color: #1E90FF;
  }

  .welcome {
    margin-top: 10vh;
  }

}

