<div class="main">
  <mat-toolbar class="header">
    <h1>Guep Transportadoras</h1>
  </mat-toolbar>

  <h1 class="welcome"> Bem vindo ao nosso sistema!</h1>

<section>
  <main class="container">
      <router-outlet></router-outlet>
  </main>
</section>


</div>
