<div class="login">



<h2 class="enter">Entrar</h2>

<form (ngSubmit)="onSubmit()" #form="ngForm">

    <label>CNPJ</label>
    <input class="form-control" type="text" name="cnpj" id="cnpj" [(ngModel)]="login.cnpj" required />


    <label>Senha</label>
    <input class="form-control" type="password" name="password" id="password" [(ngModel)]="login.password" required />

  <button type="submit" class="form-submit" [disabled]="form.form.invalid">Entrar</button>
  <button type="button" class="form-create" [routerLink]="['/register']">Criar conta</button>
</form>

</div>

