<div class="login">

  <h2 class="enter">Criar conta</h2>

  <form (ngSubmit)="onSubmit()" #form="ngForm">

      <label>CNPJ</label>
      <input class="form-control" type="text" name="cnpj" id="cnpj" [(ngModel)]="register.cnpj" required />


      <label>Nome</label>
      <input class="form-control" type="text"   name="name"  id="name" [(ngModel)]="register.name" required />

      <label>Razão Social</label>
      <input class="form-control" type="text" name="corporateName"  id="corporateName" [(ngModel)]="register.corporateName" required />

      <label>Endereço</label>
      <input class="form-control" type="text" name="address" id="address" [(ngModel)]="register.address" required />

      <label>Inscrição estadual</label>
      <input class="form-control" type="text" name="stateRegistration" id="stateRegistration" [(ngModel)]="register.stateRegistration" required />


      <label>contato</label>
      <input class="form-control" type="text" name="contact" id="contact" [(ngModel)]="register.contact" required />

      <label>Senha</label>
      <input class="form-control" type="password"  id="password" [(ngModel)]="register.password" required />

    <button type="submit" class="form-submit" [disabled]="form.form.invalid">Criar minha conta</button>

  </form>

  </div>


