.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .enter {
    margin-top: 10vh;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 410px;
    background-color: #c4c4c4;

    padding: 10px;

    label {
      font-size: 14px;
      font-weight: 600;
    }

    .form-control {
      width: 250px;
      height: 40px;
      padding-left: 10px;
      margin-bottom: 10px;
    }

    .form-submit {
      background-color: #1e90ff;
      width: 200px;
      height: 60px;
      border: none;
      color: #000;
      font-size: 14;
      font-weight: 600;
      margin-top: 20px;
      cursor: pointer;
    }


  }
}
